<h1>All the Animals</h1>
<h2>Rabbit:</h2>
<img src="./rabbit.png" />
<h2>Cat:</h2>
<img src="./Folder3/cat.png" />
<h2>Dog:</h2>
<img src="../../4.0 File Paths/dog.png" />
<h2>Fish:</h2>
<img src="../Folder1/fish.png" />
<h2>Bird:</h2>
<img src="../Folder1/Folder2/bird.png" />