<!-- Kitten image URL -->
<h1>I am a cat person</h1>
<img src=https://raw.githubusercontent.com/appbrewery/webdev/main/kitten.jpeg />


<!-- Puppy image URL -->
<h1>I am a dog person</h1>
<img src=https://raw.githubusercontent.com/appbrewery/webdev/main/puppy.gif />